.question-input {
    position: relative;

    display: flex;
    flex-direction: row;

    .input-group {
        position: relative;
        width: 100%;

        display: flex;
        flex-direction: row;

        input {
            width: calc(0% + 300px);

        
            border-radius: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            height: 35px;

            padding: 0 10px;
            flex-grow: 1;
        }

        span {
            position: relative;
            display: flex;
            flex-direction: column;

            color: #ccc;
            justify-content: center;
            width: 20px;
            margin: 0;
        }
    }

    * {
        margin: 0 5px !important;
    }
}