.question-input {
    position: relative;

    display: flex;
    flex-direction: row;

    .input-group {
        position: relative;
        width: 100%;
<<<<<<< HEAD
        display: flex;
        flex-direction: row;

        input {
            width: calc(0% + 300px);
=======
        display: block;
       
        input {
            position: relative;
            width: 100%;
>>>>>>> e627c359dce27f17df68a2803ff232d515d4e77f
            border-radius: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            height: 35px;
<<<<<<< HEAD
            padding: 0 10px;
            flex-grow: 1;
        }

        span {
            position: relative;
            display: flex;
            flex-direction: column;
=======
            padding: 0 20px;
        }

        span {
            position: absolute;
            left: 94%;
            top: -42px;
>>>>>>> e627c359dce27f17df68a2803ff232d515d4e77f
            color: #ccc;
            justify-content: center;
            width: 20px;
            margin: 0;
        }
    }

    * {
        margin: 0 5px !important;
    }
}