.question-input {
    position: relative;

    display: flex;
    flex-direction: row;

    .input-group {
        position: relative;
        width: 100%;
        display: block;
       
        input {
            position: relative;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            height: 35px;
            padding: 0 20px;
        }

        span {
            position: absolute;
            left: 94%;
            top: -42px;
            color: #ccc;
        }
    }

    * {
        margin: 0 5px !important;
    }
}