.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;
    overflow-x: hidden!important;
    overflow-y: hidden!important;

    .popup_inner {
        position: absolute;
        left: 50%;
        top: 50%!important;
        background: white;
        border-radius: 15px !important;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        width: 50%;
        min-width: 300px;
        max-width: 500px;
        transform: translate(-50%, -50%);
        padding: 0 !important;

        .popup-header {

            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            padding: 0 !important;

            button {
                border: none;
                background: white;
                border-radius: 50%;
                height: 32px;
                width: 32px;
                padding: 0;
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
            }

            img {
                height: 20%;
                width: 100%;
            }

            .quiz-name {
                margin-left: 10px;

                span {
                    font-family: Quicksand, Helvetica, Arial !important;
                    font-weight: bold;
                    font-size: 18px;
                }
            }

            .author-container {
                display: flex;
                flex-direction: row;
                padding: 10px 10px;

                img {
                    height: 24px;
                    width: 24px;
                }

                .author-name {
                    flex-grow: 1;
                    color: #72737D;
                }

                .grade {
                    color: #72737D;

                    span {
                        border-radius: 5px;
                        background: #F2F2F2;
                        color: #72737D;
                        padding: 0 3px;
                        font-size: 13px;
                    }
                }
            }

            hr {
                background: #E5E5E5;
                height: 1;
                width: 90%;
            }
        }

        .popup-body {

            .difficult-level {
                margin-top: 0;
                padding: 0 10px;
                color: #72737D;

                span {
                    color: yellowgreen;
                }
            }

            h5 {
                margin-left: 10px;
                color: #72737D;
            }

            .sample-questions-container {
                background: #F2F2F2;
                margin: 0 10px;
                padding: 5px 0;
                padding-bottom: 15px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                .sample-question {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 40px;
                    padding: 0 10px;
                    .sample-content {
                        font-family: Quicksand, Helvetica, Arial !important;
                        flex-grow: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-right: 20px;
                    }

                    .sample-image {
                        height: 100%;
                        margin-top: 0!important;
                        img{
                            height: 40px!important;
                            width: 40px!important;
                            border-radius: 3px!important;
                            margin-top: 0!important;
                        }
                    }
                }
            }
        }

        .popup-footer {
            display: flex;
            flex-direction: row!important;
            justify-content: center!important;
            padding: 10px 0;
        }
    }
}