.quiz-list{
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    margin-left: 150px;

    @media only screen and (max-width: 500px) {
        margin-left: 0;
    
    }
}